body{
    margin:0;
    padding:0;
}

#main{
    height:200px;
    width:200px;
    background-color: purple;
    margin: auto;
    margin-top:200px;
    
}
button{
    margin:auto;
}
#submain{
    background-color: gray;
    width:100px;
    height:100px;
    margin:auto;
}
#para{
    margin:auto;
}
span{
    margin:auto;
}